/* 
* Styles for home controller
*/

/* general styles
--------------------------------------------------------------------*/
$textcolor: #454b66;
$background: #d1e1ff;
$apptitlecolor: #010c30;
$headerfont: 'Bookman Old Style';
$globalfont: 'Trebuchet MS', Helvetica, sans-serif;
/* button styles
--------------------------------------------------------------------*/
$accordioncolor: #9ca3db;
$accordiontextcolor: #ffffff;

/* p elements and footer
--------------------------------------------------------------------*/
p {
    color: $textcolor;
    width: 100%;
    padding: 5px;
}
.footer {
    border-top: 1px solid;
    text-align: center;
    margin-top: 15px;
}

/* accordion menu
--------------------------------------------------------------------*/
#menu {
    width: 75%;
    margin: auto;
    background-color: $background;
    
    .ui-accordion-content > *, .ui-widget-content {
        background-color: $background;
        padding: 10px;
        border: 0px;
        font-family: $globalfont;
        font-weight: normal;
        #button {
            height: 30px;
            width: 150px;
            border-radius: 5px;
            margin: auto;
            padding: 0px;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            box-shadow: inset 0px 1px 0px 1px #b7bce4;
            border: 1px solid #8086b4;
            font-weight: bold;
            cursor: pointer;
            background-color: $accordioncolor;
            a, a:visited{
                color: $accordiontextcolor;
                text-decoration: none;
                display: block;
            }
            &:active {
                position: relative;
                top: 1px;
            }
        }
    }
    .ui-accordion-header {
        background-color: $accordioncolor;
        margin: 0px;
        background-image: none;
        font-family: $headerfont;
        
        a, {
            color: $accordiontextcolor;
        }
    }
}