// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home Styles */

$navbarcolor: #010c30;
$navtextcolor: #d1e1ff;
$navhovercolor: #2f3855;
$textcolor: #454b66;

$background: #d1e1ff;
$apptitlecolor: #010c30;
$buttoncolor: #9ca3db;
$buttontextcolor: #ffffff;
$buttonhovercolor: #8086b4;
$menucolor: #ffffff;

form label, form input {
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $navbarcolor;
}
li {
    float: left;
    color: $navtextcolor;
    a {
        display: block;
        color: $navtextcolor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
        &:visited {
            color: $navtextcolor;
        }
        
        &:hover {
            background-color: $navhovercolor;
            color: $navtextcolor;
            text-decoration: none;
        }
    }
}
p {
    color: $textcolor;
    width: 100%;
    padding: 5px;
}
p.footer {
    border-top: 1px solid;
    text-align: center;
    margin-top: 15px;
}

/* accordion menu */
#menu {
    width: 75%;
    margin: auto;
    background-color: $background;
}
.ui-accordion-content > *, .ui-widget-content{
    background-color: $background;
    padding: 0px;
    border: 0px;
}
.ui-accordion-header {
    background-color: $buttoncolor;
    margin: 0px;
    background-image: none;
    a, a:visited {
        color: #000000;
    }
}