/* 
* Styles for home controller
*/

$navbarcolor: #010c30;
$navtextcolor: #d1e1ff;
$navhovercolor: #2f3855;
$textcolor: #454b66;

$background: #d1e1ff;
$apptitlecolor: #010c30;
$buttoncolor: #9ca3db;
$buttontextcolor: #ffffff;
$buttonhovercolor: #8086b4;
$menucolor: #ffffff;
$headerfont: 'Bookman Old Style';
$globalfont: 'Trebuchet MS', Helvetica, sans-serif;

form label, form input {
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $navbarcolor;
}
li {
    float: left;
    color: $navtextcolor;
    a {
        display: block;
        color: $navtextcolor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
        &:visited {
            color: $navtextcolor;
        }
        
        &:hover {
            background-color: $navhovercolor;
            color: $navtextcolor;
            text-decoration: none;
        }
    }
}
p {
    color: $textcolor;
    width: 100%;
    padding: 5px;
}
p.footer {
    border-top: 1px solid;
    text-align: center;
    margin-top: 15px;
}

/* accordion menu 
--------------------------------------------------------------------*/
#menu {
    width: 75%;
    margin: auto;
    background-color: $background;
    
    .ui-accordion-content > *, .ui-widget-content {
        background-color: $background;
        padding: 10px;
        border: 0px;
        font-family: $globalfont;
        font-weight: bold;
        #button {
            height: 30px;
            width: 150px;
            border-radius: 5px;
            margin: auto;
            padding: 0px;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            box-shadow: inset 0px 1px 0px 1px #b7bce4;
            border: 1px solid #8086b4;
            font-weight: bold;
            cursor: pointer;
            background-color: $buttoncolor;
            a, a:visited{
                color: $buttontextcolor;
                text-decoration: none;
                display: block;
            }
            &:active {
                position: relative;
                top: 1px;
            }
        }
    }
    .ui-accordion-header {
        background-color: $buttoncolor;
        margin: 0px;
        background-image: none;
        font-family: $headerfont;
        
        a, a:visited {
            color: #000000;
        }
    }
}