/*
* Styles for elements on pages for scaffolds, including tables and buttons
*/

/* table styles */
$headerfont: 'Bookman Old Style';
$tableheadercolor: #2f3855;
$tableheadertextcolor: #ffffff;
$eventablerowcolor: #c9cceb;
$oddtablerowcolor: #acb8d7;
$tablebordercolor: #d1e1ff;
$tabletextcolor: #454b66;
/* button styles */
$buttoncolor: #9ca3db;
$buttontextcolor: #ffffff;

/* table styling
--------------------------------------------------------------------*/
body {
  table {
    width: 75%;
    margin: auto;
    color: $tabletextcolor;
  }
  
  th {
    height: 30px;
    background-color: $tableheadercolor;
    color: $tableheadertextcolor;
    text-align: center;
    font-family: $headerfont;
  }
  
  tr {
    &:nth-child(even) {
      background-color: $eventablerowcolor;
    }
    &:nth-child(odd){
      background-color: $oddtablerowcolor;
    }
  }
  
  td, th {
    padding: 5px;
    border-bottom: 1px solid $tablebordercolor;
    border-left: 1px solid $tablebordercolor;
    
    a, a:visited, a:hover {
      text-decoration: none;
      color: $tabletextcolor;
      &:hover {
        color: $buttontextcolor;
      }
    }
  }
}

/* pre-defined form styling and field error styling 
--------------------------------------------------------------------*/
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* buttons 
--------------------------------------------------------------------*/
#controls {
  margin: 0px auto;
  width: 13.6%;
}
#showcontrols {
  margin: 0px auto;
  width: 20.2%;
}
#editbutton, #backbutton, #newbutton {
  display: inline-block;
}
#button, #editbutton, #backbutton, #newbutton {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    box-shadow: inset 0px 1px 0px 1px #b7bce4;
    border: 1px solid #8086b4;
    font-weight: bold;
    cursor: pointer;
    background-color: $buttoncolor;
    a, a:visited{
        color: $buttontextcolor;
        text-decoration: none;
        display: block;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}