$headercolor: #010c30;
$headerfont: 'Bookman Old Style';
$tableheadercolor: #2f3855;
$tableheadertextcolor: #ffffff;
$tablecontenttextcolor: #454b66;
$eventablerowcolor: #c9cceb;
$oddtablerowcolor: #acb8d7;
$tablebordercolor: #d1e1ff;
$tabletextcolor: #454b66;
body {
  table {
    width: 75%;
    margin: auto;
    color: $tabletextcolor;
  }
  
  th {
    height: 30px;
    background-color: $tableheadercolor;
    color: $tableheadertextcolor;
    text-align: center;
    font-family: $headerfont;
  }
  
  tr {
    &:nth-child(even) {
      background-color: $eventablerowcolor;
    }
    &:nth-child(odd){
      background-color: $oddtablerowcolor;
    }
  }
  
  td, th {
    padding: 5px;
    border-bottom: 1px solid $tablebordercolor;
    border-left: 1px solid $tablebordercolor;
    
    a, a:visited {
      text-decoration: none;
      color: $tabletextcolor;
    }
    a:hover {
      font-weight: bold;
    }
  }
}

h1, h2, h3{
  text-align: center;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

}